.projects {
    height: 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.TittleProjects {
    margin-top: 60px;
    margin-bottom: 60px;
}
.works {
    cursor: pointer;
    width: 420px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.201);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18181B;
    transition: transform 0.3s ease;
}

.iconProjects {
    color: #5F14F3;
    height: 100px;
}

.imc {
    border-radius: 5px;
    height: 200px;
    width: 370px;
}

.virtualR {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 420px;
    height: 220px;
}

.logo {
    height: 100px;
}
.query {
    gap: 30px;
    display: flex;
}
.cloud {
    height: 100px;
}
a {
    color: white;
    text-decoration: none;
  }

.orangegradient {
    background: linear-gradient(45deg, #F97316, #9A1C1B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; 
}

@media (max-width: 1540px) {
    .logo {
        height: 12vh;
    }
    .virtualR {
        font-size: 1vw;
    }
    .works {
        width: 30vw;
        height: 30vh;
    }
    .imc {
        height: 150px;
        width: 300px;
    }
    .projects {
        height: 100%;
    }
}
@media (max-width: 1024px) {
    .projects {
        height: 100%;
    }
    .logo {
        height: 100px;
    }
    .virtualR {
        font-size: 13px;
    }
    .list {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .query {
        display: flex;
        gap: 25px;
    }
    .projects {
        height: 100%;
        text-align: center;
    }
    .works {
        width: 45vw;
        height: 30vh;
    }
    .imc {
        height: 170px;
        width: 340px;
    }

}

@media (max-width: 800px) {
    .imc {
        height: 198px;
        width: 380px;
    }
    .logo {
        height: 90px;
    }
    .virtualR {
        font-size: 18px;
    }
    .list {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projects {
        height: 100%;
        text-align: center;
    }
    .query {
        flex-direction: column;
        display: flex;
    }
    .works {
        width: 90vw;
        height: 35vh;
    }
   
}

@media (max-width: 600px) {
    .projects {
        height: 100%;
    }
    .logo {
        height: 100px;
    }
    .virtualR {
        font-size: 15px;
    }
    .list {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imc {
        height: 200px;
        width: 400px;
    }
    .projects {
        height: 100%;
        text-align: center;
    }
    .query {
        flex-direction: column;
        display: flex;
    }
    .works {
        width: 90vw;
        height: 40vh;
    }
    
}

@media (max-width: 450px) {
    .cloud {
        height: 100px;
    }
    .logo {
        height: 70px;
    }
    .virtualR {
        font-size: 12.5px;
    }
    .works {
        width: 85vw;
        height: 40vh;
    }
    .query {
        flex-direction: column;
        display: flex;
    }
    .projects {
        height: 100%;
        text-align: center;
    }
    .imc {
        height: 160px;
        width: 300px;
    }
}
