.About {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.About h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 0.9;
}
.chris {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.14);
    border-radius: 50%;
    height: 160px;
    margin-bottom: 20px;
}
.description {
    width: 700px;
}
.cv {
    transition: transform 0.3s;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
    background-color: #5F14F3;
    color: #ffffff;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    font-weight: 100;
}
.cv:hover {
    transform: scale(1.05);
}
.mark {
    color: #5F14F3;
}
.conections {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.icon {
    cursor: pointer;
    color: #5F14F3;
    height: 25px;
    transition: color 0.3s, transform 0.3s;
}

.icon:hover {
    color: #4c07d5;
    transform: scale(1.2);
}

.space {
    margin-right: 5px;
}

@media (max-width: 1024px){
    .About h1 {
        font-weight: 900;
        font-size: 65px;
        line-height: 0.9;
    }
    .chris {
        margin-top: -20px;
        border-radius: 50%;
        height: 15vw;
        margin-bottom: 20px;
    }
    .description {
        font-size: 15px;
        width: 95vw;
    }
    .cv {
        transition: transform 0.3s;
        cursor: pointer;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
        background-color: #5F14F3;
        color: #ffffff;
        border: none;
        outline: none;
        margin-top: 20px;
        border-radius: 10px;
        height: 40px;
        width: 140px;
        font-weight: 100;
    }
}
@media (max-width: 800px){
    .About h1 {
        font-weight: 900;
        font-size: 65px;
        line-height: 0.9;
    }
    .chris {
        margin-top: -20px;
        border-radius: 50%;
        height: 18vw;
        margin-bottom: 20px;
    }

    .description {
        font-size: 15px;
        width: 90vw;
    }
    .cv {
        transition: transform 0.3s;
        cursor: pointer;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
        background-color: #5F14F3;
        color: #ffffff;
        border: none;
        outline: none;
        margin-top: 20px;
        border-radius: 10px;
        height: 35px;
        width: 120px;
        font-weight: 100;
    }
}
@media (max-width: 600px) {
    .About h1 {
        font-weight: 900;
        font-size: 46px;
        line-height: 0.9;
    }
    .chris {
        margin-top: -20px;
        border-radius: 50%;
        height: 20vw;
        margin-bottom: 20px;
    }
    .description {
        font-size: 10px;
        width: 90vw;
    }
    .cv {
        transition: transform 0.3s;
        cursor: pointer;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
        background-color: #5F14F3;
        color: #ffffff;
        border: none;
        outline: none;
        margin-top: 20px;
        border-radius: 10px;
        height: 32px;
        width: 110px;
        font-weight: 100;
        font-size: 12.5px;
    }
    .icon {
        cursor: pointer;
        color: #5F14F3;
        height: 20px;
        transition: color 0.3s, transform 0.3s;
    }
}

@media (max-width: 450px){
    .About h1 {
        font-weight: 900;
        font-size: 40px;
        line-height: 0.9;
    }
    .description {
        font-size: 12px;
        width: 90vw;
    }
    h4 {
        font-size: 13px;
    }
    .chris {
        margin-top: -20px;
        border-radius: 50%;
        height: 25vw;
        margin-bottom: 20px;
    }
}