.skills {
    height: 100vh;
    width: 100%;
}
.skills h1 {
    text-align: center;
    margin-bottom: 50px;
}
.iconSkills {
    height: 150px;
    color: #5F14F3;
}
.square:hover {
    transform: scale(1.05);
}
.square {
    cursor: pointer;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.201);
}
.squares {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sass {
    height: 120px;
}


.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
img {
    -webkit-user-drag: none; 
    -khtml-user-drag: none;   
    -moz-user-drag: none;    
    -o-user-drag: none;              
}

@media (max-width: 900px) {
    .skills {
        margin-top: 100px;
    }
    .square {
        cursor: pointer;
        width: 170px;
        height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.201);
    }
}

@media (max-width: 768px) {
    .firstLine {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .secondLine {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .skills {
        height: 150vh;
        width: 100%;
    }
    .iconSkills {
        height: 140px;
        color: #5F14F3;
    }
    .sass {
        height: 120px;
    }
}
@media (max-width: 450px){
    .square {
        cursor: pointer;
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.201);
    }
    .iconSkills {
        height: 120px;
        color: #5F14F3;
    }
    .sass {
        height: 100px;
    }
}
